@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

a{
    text-decoration: none;
}
  body{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    height: 100vh;
    background-image:url("/images/Asset\ 3.svg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1D2160;
    font-family: 'Poppins';
    width: 100%;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    // background-color: #2196F3;
    padding: 20px;
    padding-bottom: 0;
    padding-top: 0;

  }
  .grid-item {
    // background-color: rgba(255, 255, 255, 0.8);
    // border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    padding-bottom: 0;

  }

  #En{
    // display: block;
    // margin: auto;
    .BorderEn{
      // display: inline;
      // margin: auto;
        #Enp{
            color: #ecf0f1;
            font-size: 17px;
            margin-top: 3%;
            border: 2px solid #ecf0f1;
            width: 55px;
            height: 25px;
            border-radius: 15px;
            float: left;
            margin-left: -3%;
        }
        img{
          width: 25px;
          padding-left: 3%;
          margin-top: 4%;
          margin-left: -20%;
          // background-color: #1D2160;
        }
        .bell{
          margin-top: -5%;
          margin-left: 5%;
        }
        .info{
          margin-left: 0;
          padding-left: 15px;
          background-color: #1D2160;
        }
        .what{
          padding-left: 15px;
          background-color: #1D2160;
          margin-left: 1%;
        }
    }
  }
  #Logo{
    .Logoimg{
      margin-left: -19%;
        img{
            display: block;
            margin: auto;
            width: 190px;
            // float: left;
            // margin-left: -3%;
        }
    }
  }

  #Login{
    .Loginimgs{
      img{
        width: 28px;
        float: right;
        padding-right: 3%;
        margin-top: 2%;
        }
    }
  }

  #HeroImg{
    grid-column-end: span 3;

    .Heroimg{
        h3{
          font-size: 25px;
          display: block;
          margin: auto;
          margin-top: 5%;
          color: #ecf0f1;
          font-weight: 500;
          margin-right: -2%;
        }
    }
  }

  #About{
  grid-column-end: span 3;
  }
  #white{
    .list{
      margin-top: 5%;
      li{
        list-style-type: none;
      }

      .l1,.l2,.l3,.l4, .l5{
        margin-left: -2%;
        font-size: 20px;
        margin-top: 1%;
        border: 2px solid #ecf0f1;
        width: 13%;
        height: 20px;
        padding: 1%;
        padding-top: 0.3%;
        border-radius: 40px;
        background-color:#ecf0f1;
      }
      a{
        color: #1D2160;
     }
    }
  }
#white2{
    margin-top: -1%;
    margin-left: 1.5%;
    p{
      font-size: 20px;
      width: 13%;
      padding: 1%;
      padding-top: 0.3%;
      border-radius: 50px;
      a{
        color:#ecf0f1;
      }
    }
}
#history{
    background-color: #ecf0f1;
    padding: 3% 7%;
    width: 40%;
    border-radius: 50px;
    margin-top: -20%;
    margin-left: 3%;
}
